<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kancho.realestate.comparingprices.repository.ApartmentPriceMapper">

    <insert id="save" parameterType="ApartmentPrice">
        insert
        into apartment_prices
        ( apartment_id
        , area_for_exclusive_use
        , deal_year
        , deal_month
        , deal_day
        , deal_amount
        , floor)
        values (  #{apartmentId}
                , #{areaForExclusiveUse}
                , #{dealYear}
                , #{dealMonth}
                , #{dealDay}
                , #{dealAmount}
                , #{floor}
                )
    </insert>
    <select id="findAll" resultType="ApartmentPrice">
        select
        id
        , apartment_id
        , area_for_exclusive_use
        , deal_year
        , deal_month
        , deal_day
        , deal_amount
        , floor
        from apartment_prices
        where delete_dttm is null
    </select>

</mapper>
