<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kancho.realestate.utils.excel.storeaprtment.ApartmentStoreMapper">

    <insert id="save" parameterType="Apartment" useGeneratedKeys="true" keyProperty="id">
        insert
        into apartment
        ( regional_code
        , city
        , gu
        , dong
        , jibun
        , bonbun
        , bubun
        , apartment_name
        , build_year
        , road_address)
        values ( #{regionalCode}
               , #{city}
               , #{gu}
               , #{dong}
               , #{jibun}
               , #{bonbun}
               , #{bubun}
               , #{apartmentName}
               , #{buildYear}
               , #{roadAddress}
               )
    </insert>

    <select id="findAll" resultType="Apartment">
        select
               id
             , regional_code
             , city
             , gu
             , dong
             , jibun
             , bonbun
             , bubun
             , apartment_name
             , build_year
             , road_address
             , delete_dttm
        from apartment
    </select>

    <select id="findExistApartment" resultType="Apartment" parameterType="Apartment">
        select
              regional_code
             , dong
             , jibun
             , apartment_name
        from apartment
        where regional_code= #{regionalCode}
            and dong = #{dong}
            and jibun = #{jibun}
            and apartment_name =  #{apartmentName}
    </select>
</mapper>
